name: CI

on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  container:
    runs-on: ubuntu-latest
    container: 
      image: ghcr.io/allstarlink/asl3-ci:latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Build app_rpt
        run: |
          cp -r ../app_rpt /usr/src
          cd /usr/src/app_rpt
          ./rpt_install.sh
      - name: Run tests
        run: |
          cd /usr/src/testsuite
          phreaknet runtest apps/rpt
          phreaknet runtest res/
